// Place all the styles related to the Confessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#headimg {
  height: 264px;
  background-image: url(/assets/shhheader.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

#phonenumber {
  font-size: 40px;
  padding-top: 86px;
}

#sentence {
  padding-top: 10px;
  font-size: 36px;
  text-align: center;
}